<%= form_with model: book, url: books_path do |f| %> 

<div>
  <h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name <%= @user.name %></p>
  <p>introduction <%= @user.introduction %></p>
</div>

<% if @user == current_user %>
  <i class="fa-solid fa-user-gear" style="color: #8a8a8a;">
    <%= link_to "Font awesome", edit_user_path(@user.id), method: :edit %>
  </i>
<% end %>


  <h2>New book</h2>
  
<!--後でエラーメッセージ入れる-->
  
  <p>Title</p>
  <%= f.text_field :title, id: :book_title, name: "book[title]"%>
  
  <p>Opinion</p>
  <%= f.text_area :body, id: :book_body, name: "book[body]" %>
  
  <%= f.submit 'Create Book' %>

<% end %>