<h1>Books indexページ</h1>


<% @books.each do |book| %>
  <h1>Books</h1>
  <div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
    <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
    <p>Title：<%= book.title %></p>
    <p>Opinion：<%= book.opinion %></p>
  </div>
<% end %>